h1{
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

nav{
    padding: 10px;
    font-size: large;
    background-color: #c6baa9;
}

a{
    text-decoration-line: none;
    color: #ffebcd;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

a:hover{
    color: #e7d5ba;
}

div{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

table{
    margin: auto;
}

button{
    background-color: #04AA6D;
    border: none;
    color: white;
    padding: 10px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    width: 120px;
    height: 60px;
    border-radius: 5px;
}

button:hover{
    color: rgb(219, 218, 218);
    background-color: #078b5b;
}

/* Different button colors */
#button-1{
    background-color: #04AA6D;
}

#button-2{
    background-color: #2196F3;
}

#button-3{
    background-color: #f44336;
}

#button-4{
    background-color: #ff9800;
}

#button-5{
    background-color: #9c27b0;
}

#button-6{
    background-color: #00bcd4;
}

#button-7{
    background-color: #8bc34a;
}

#button-8{
    background-color: #ffc107;
}

#button-9{
    background-color: #607d8b;
}

#button-10{
    background-color: #91415c;
}



section{
    line-height: 0.4;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border: solid;
    border-radius: 20px;
    text-align: center;
    margin: 20px;
}

footer{
    line-height: 10px;
    text-align: center;
    padding: 50px;
}